<% include partials/header.ejs%>
<h1>app is working</h1>
<h4>Click here for <a href="/register">Register</a></h4>
<h4>Click here for <a href="/login">Login</a></h4>
<h4>Click here for <a href="/logout">Logout</a></h4>

<% include partials/footer.ejs%>