<% include partials/header.ejs%>
<h1>yipee we have reched the registe page</h1>
<hr>

<div class="container">
<div class="row">
    <div class="col-lg-4">    <form class="form-group" method="POST" action="/register">
    <label>USERNAME</label>
    <input class="form-control" type="text" name="username" placeholder="type username">
    <label>PASSWORD</label>
    <input class="form-control" type="password" name="password" placeholder="type password">
<br>
<input type="submit">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>
</div>
<% include partials/footer.ejs%>