<style>
	body {
		color : Blue ;
	}
</style>
<h1>
<h1>
	 hi my name is sajal agrawal
</h1> 
<h2>
	 i am a web developer  not by work but by passion
</h2>
<h3>I am a great learner and always seek to learn new things aroud me . i am greatly interested in how technologies around me work</h3>
<h2>
	here is my pic
</h2>
<img src="pic.jpg">