<% include partials/header.ejs %>
	<div class="container thumbnail text-center">
		
<p>
	<h1>
		name: 
<%= camp.name %></h1>
<image src="<%=camp.image%>">
	<p><%=camp.description%></p>
	</p>
		<a href="/campground">Go back</a>

		</div>
<% include partials/footer.ejs %>